@tailwind base;
@tailwind components;
@tailwind utilities;

@layer base {
  @import "./base.css";

  a {
    @apply text-theme-link;
  }
}

@layer components {
  @import "./components.css";
}

body {
  font-family: 'Nunito Sans', sans-serif;
}

.gradiented {
  @apply from-theme-from to-theme-to bg-gradient-to-r;
  -webkit-background-clip: text;
  background-clip: text;
  -webkit-text-fill-color: transparent;
}

.header {
  font-family: 'Poppins', sans-serif;
}

p {
  @apply font-normal;
}

.prose a {
  @apply no-underline hover:no-underline text-blue-500 !important;
}